/.git
/coverage
dist/
/node_modules
/tmp
*/*/*.test.ts
.dockerignore
.editorconfig
.env
.eslintignore
.eslintrc.js
.gitignore
.huskyrc.js
.prettierignore
CHANGELOG.md
commitlint.config.js
LICENSE
lint-stages.config.js
npm-debug.log
prettier.config.js
README.md
webpack.development.js
